In [167]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns
from datetime import date


import warnings
warnings.filterwarnings('ignore')

In [128]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

In [129]:
Headline = pd.read_csv(r"C:\Users\ASUS\iPython\Technocolab Internship\Market Headlines\gethistoricalmarketheadlines_20210610163519.csv")

In [131]:
Headline.head(2)

,Outcome,Message,Identity,Delay,Headlines Securities CIK,Headlines Securities CUSIP,Headlines Securities Symbol,Headlines Securities ISIN,Headlines Securities Valoren,Headlines Securities Name,Headlines Securities Market,Headlines Securities MarketIdentificationCode,Headlines Securities MostLiquidExchange,Headlines Securities CategoryOrIndustry,Headlines Title,Headlines Date,Headlines Time,Headlines UTCOffset,Headlines Source,Headlines Url,Headlines Images,Headlines Tags TagType,Headlines Tags TagValues,Headlines PaywallType,Headlines Summary
0,Success,NaN,Request,0.511007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ex-commodities chairman Timothy Massad calls f...,6/9/2021,11:56 PM,0,CNBC MAD Money Recap,https://www.cnbc.com/2021/06/09/ex-cftc-chairm...,NaN,Symbols,NaN,None,"""We need a better framework so that we can jus..."
1,Success,NaN,Request,0.511007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ex-commodities chairman Timothy Massad calls f...,6/9/2021,11:56 PM,0,CNBC MAD Money Recap,https://www.cnbc.com/2021/06/09/ex-cftc-chairm...,NaN,Companies,NaN,None,"""We need a better framework so that we can jus..."

In [132]:
Headline.shape

(6756, 25)

In [133]:
# Finding the missing columns
missing_columns1 = round(100 * Headline.isnull().sum()/len(Headline.index), 2)
missing_columns1 = missing_columns1[missing_columns1.values == 100]
l2 = list(missing_columns1.index)
# List of Columns which have 100 percent missing columns
print(l2)

['Message', 'Headlines Securities CUSIP', 'Headlines Securities ISIN']

In [134]:
# Drop those columns which have 100 percent missing columns
Headline = Headline.drop(l2, axis = 1)
Headline.head(2)

,Outcome,Identity,Delay,Headlines Securities CIK,Headlines Securities Symbol,Headlines Securities Valoren,Headlines Securities Name,Headlines Securities Market,Headlines Securities MarketIdentificationCode,Headlines Securities MostLiquidExchange,Headlines Securities CategoryOrIndustry,Headlines Title,Headlines Date,Headlines Time,Headlines UTCOffset,Headlines Source,Headlines Url,Headlines Images,Headlines Tags TagType,Headlines Tags TagValues,Headlines PaywallType,Headlines Summary
0,Success,Request,0.511007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ex-commodities chairman Timothy Massad calls f...,6/9/2021,11:56 PM,0,CNBC MAD Money Recap,https://www.cnbc.com/2021/06/09/ex-cftc-chairm...,NaN,Symbols,NaN,None,"""We need a better framework so that we can jus..."
1,Success,Request,0.511007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ex-commodities chairman Timothy Massad calls f...,6/9/2021,11:56 PM,0,CNBC MAD Money Recap,https://www.cnbc.com/2021/06/09/ex-cftc-chairm...,NaN,Companies,NaN,None,"""We need a better framework so that we can jus..."

In [135]:
Amazon_stock = pd.read_csv(r"C:\Users\ASUS\iPython\Technocolab Internship\Nasdaq Stocks\HistoricalData_AMZN.csv")

In [136]:
Amazon_stock.head(5)

         Date Close/Last   Volume      Open        High       Low
0  06/09/2021   $3281.15  2455530  $3272.87    $3297.58   $3270.7
1  06/08/2021   $3264.11  3416730  $3222.61  $3279.5321  $3218.01
2  06/07/2021   $3198.01  2215756  $3197.33       $3208   $3172.2
3  06/04/2021   $3206.22  2249749     $3212       $3221  $3198.81
4  06/03/2021   $3187.01  2398293  $3204.23   $3214.435  $3184.03

In [137]:
Amazon_stock.shape

(2516, 6)

In [138]:
Amazon_stock.describe()

             Volume
count  2.516000e+03
mean   4.207630e+06
std    2.295011e+06
min    8.813370e+05
25%    2.737498e+06
50%    3.615334e+06
75%    4.936622e+06
max    2.412413e+07

#### Data Cleaning in Amazon_stock Dataframe

In [139]:
Amazon_stock["Close/Last"] = Amazon_stock["Close/Last"].apply(lambda x: x.replace("$",""))
Amazon_stock["Open"] = Amazon_stock["Open"].apply(lambda x: x.replace("$",""))
Amazon_stock["High"] = Amazon_stock["High"].apply(lambda x: x.replace("$",""))
Amazon_stock["Low"] = Amazon_stock["Low"].apply(lambda x: x.replace("$",""))

In [140]:
Amazon_stock.head()

         Date Close/Last   Volume     Open       High      Low
0  06/09/2021    3281.15  2455530  3272.87    3297.58   3270.7
1  06/08/2021    3264.11  3416730  3222.61  3279.5321  3218.01
2  06/07/2021    3198.01  2215756  3197.33       3208   3172.2
3  06/04/2021    3206.22  2249749     3212       3221  3198.81
4  06/03/2021    3187.01  2398293  3204.23   3214.435  3184.03

In [142]:
# Missing value handling in Amazon_stock dataframe.
Missing_col = round(100 * Amazon_stock.isnull().sum()/len(Amazon_stock.index), 2)
Missing_col

Date          0.0
Close/Last    0.0
Volume        0.0
Open          0.0
High          0.0
Low           0.0
dtype: float64

#### There is no missing value in Amazon_stock dataframe

#### Let's check the missing value in Headline dataframe

In [143]:
Missing_col1 = round(100 * Headline.isnull().sum()/len(Headline.index), 2)
Missing_col1

Outcome                                          0.00
Identity                                         0.00
Delay                                            0.00
Headlines Securities CIK                         3.55
Headlines Securities Symbol                      0.64
Headlines Securities Valoren                     1.27
Headlines Securities Name                        0.64
Headlines Securities Market                      0.64
Headlines Securities MarketIdentificationCode    0.64
Headlines Securities MostLiquidExchange          0.13
Headlines Securities CategoryOrIndustry          0.64
Headlines Title                                  0.00
Headlines Date                                   0.00
Headlines Time                                   0.00
Headlines UTCOffset                              0.00
Headlines Source                                 0.00
Headlines Url                                    0.00
Headlines Images                                 0.06
Headlines Tags TagType                           0.00
Headlines Tags TagValues                         0.16
Headlines PaywallType                            0.00
Headlines Summary                                7.68
dtype: float64

#### Now perform missing value imputation in Headline dataframe.

In [144]:
Headline.head()

,Outcome,Identity,Delay,Headlines Securities CIK,Headlines Securities Symbol,Headlines Securities Valoren,Headlines Securities Name,Headlines Securities Market,Headlines Securities MarketIdentificationCode,Headlines Securities MostLiquidExchange,Headlines Securities CategoryOrIndustry,Headlines Title,Headlines Date,Headlines Time,Headlines UTCOffset,Headlines Source,Headlines Url,Headlines Images,Headlines Tags TagType,Headlines Tags TagValues,Headlines PaywallType,Headlines Summary
0,Success,Request,0.511007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ex-commodities chairman Timothy Massad calls f...,6/9/2021,11:56 PM,0,CNBC MAD Money Recap,https://www.cnbc.com/2021/06/09/ex-cftc-chairm...,NaN,Symbols,NaN,None,"""We need a better framework so that we can jus..."
1,Success,Request,0.511007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ex-commodities chairman Timothy Massad calls f...,6/9/2021,11:56 PM,0,CNBC MAD Money Recap,https://www.cnbc.com/2021/06/09/ex-cftc-chairm...,NaN,Companies,NaN,None,"""We need a better framework so that we can jus..."
2,Success,Request,0.511007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ex-commodities chairman Timothy Massad calls f...,6/9/2021,11:56 PM,0,CNBC MAD Money Recap,https://www.cnbc.com/2021/06/09/ex-cftc-chairm...,NaN,Sectors,NaN,None,"""We need a better framework so that we can jus..."
3,Success,Request,0.511007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ex-commodities chairman Timothy Massad calls f...,6/9/2021,11:56 PM,0,CNBC MAD Money Recap,https://www.cnbc.com/2021/06/09/ex-cftc-chairm...,NaN,Topics,NaN,None,"""We need a better framework so that we can jus..."
4,Success,Request,0.511007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GBP/USD sellers attack 1.4100 amid Brexit dold...,6/9/2021,11:56 PM,0,FXStreet News,https://www.fxstreet.com/news/gbp-usd-sellers-...,https://editorial.fxstreet.com/images/Markets/...,Topics,NaN,None,Read more on https://www.fxstreet.com...

In [145]:
Headline["Headlines Securities CIK"].describe()

count    6.516000e+03
mean     1.082056e+06
std      5.065849e+05
min      3.453000e+03
25%      8.902152e+05
50%      1.075124e+06
75%      1.486298e+06
max      1.853084e+06
Name: Headlines Securities CIK, dtype: float64

In [146]:
Headline["Headlines Securities CIK"] = Headline["Headlines Securities CIK"].fillna(0)

### Amazon_stock dataframe EDA part

In [151]:
Amazon_stock.head()

         Date Close/Last   Volume     Open       High      Low
0  06/09/2021    3281.15  2455530  3272.87    3297.58   3270.7
1  06/08/2021    3264.11  3416730  3222.61  3279.5321  3218.01
2  06/07/2021    3198.01  2215756  3197.33       3208   3172.2
3  06/04/2021    3206.22  2249749     3212       3221  3198.81
4  06/03/2021    3187.01  2398293  3204.23   3214.435  3184.03

In [154]:
Amazon_stock["High"] = Amazon_stock["High"].astype("float64")
Amazon_stock["Low"] = Amazon_stock["Low"].astype("float64")

In [155]:
Amazon_stock["Change"] = Amazon_stock["High"] - Amazon_stock["Low"]

In [156]:
Amazon_stock.head()

         Date Close/Last   Volume     Open       High      Low   Change
0  06/09/2021    3281.15  2455530  3272.87  3297.5800  3270.70  26.8800
1  06/08/2021    3264.11  3416730  3222.61  3279.5321  3218.01  61.5221
2  06/07/2021    3198.01  2215756  3197.33  3208.0000  3172.20  35.8000
3  06/04/2021    3206.22  2249749     3212  3221.0000  3198.81  22.1900
4  06/03/2021    3187.01  2398293  3204.23  3214.4350  3184.03  30.4050

In [157]:
Amazon_stock.dtypes

Date           object
Close/Last     object
Volume          int64
Open           object
High          float64
Low           float64
Change        float64
dtype: object

In [158]:
Amazon_stock["Open"] = Amazon_stock["Open"].astype("float64")
Amazon_stock["Close/Last"] = Amazon_stock["Close/Last"].astype("float64")
Amazon_stock["Volume"] = Amazon_stock["Volume"].astype("int64")

In [159]:
Amazon_stock.dtypes

Date           object
Close/Last    float64
Volume          int64
Open          float64
High          float64
Low           float64
Change        float64
dtype: object

In [163]:
Amazon_stock["Date"] = pd.to_datetime(Amazon_stock["Date"], format = "%m/%d/%Y")

In [164]:
Amazon_stock.dtypes

Date          datetime64[ns]
Close/Last           float64
Volume                 int64
Open                 float64
High                 float64
Low                  float64
Change               float64
dtype: object